.rightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}
.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.navIcons > img {
    width: 1rem;
    height: 1rem;
}
.sh-button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
    background: var(--buttonBg);
    transition: all 100ms ease-in-out;
    text-align: center;
    font-size: 16px;

}

.sh-button:hover {
    background: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
}