.post{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 1rem;
    background-color: var(--cardColor);
    gap: 1rem;
    border-radius: 1rem;
}
.post > img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}
.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1rem
}
.likes{
    color: var(--gray);
    font-size: 12px
}